body{
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Sans", sans-serif;
}
header{
    background-color: #1C3AA4;
    border-bottom: 1px solid #2F4DB8;
    padding-bottom: 5px;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 25px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.spaceleft-right{
    padding: 0px 60px;
}
.btn-style{
    background-color: #FACE0F;
    text-transform: uppercase;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    width: 218px;
    padding: 15px;
    border: 1px solid #FACE0F !important;
}
.btn-style:hover{
    background-color: transparent;
    color: #ffffff;
}
.banner-section-wrapper{
    background-color: #1C3AA4;
    overflow: hidden;
}
.banner-section-wrapper h6{
    font-weight: 700;
    color: #FACE0F;
    font-size: 17px;
}
.space-top-bottom{
    padding: 100px 0px;
}
.banner-section-wrapper h6 i{
    display: inline-block;
    line-height: 0px;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
.banner-section-wrapper h1{
    font-size: 80px;
    color: #ffffff;
    font-weight: 700;
    line-height: 85px;
}
.banner-section-wrapper h1 span{
    color: #FACE0F;
}
.banner-section-wrapper p{
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.banner-section-wrapper .banner-form p{
    font-size: 15px;
    color: #6B6B6B;
    margin-bottom: 20px;
}
.banner-form{
    background-color: #ffffff;
    padding: 40px 30px;
    position: relative;
    margin-top: 220px;
}
.banner-section-wrapper{
    background-image:url("../images/transparent-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner-form .form-control, .banner-form .form-select{
    background-color: #ebebeb;
    border-radius: 0px;
    border: 0px;
    color: #000000;
    height: 50px;
    padding: 0px 20px;
}
.banner-form .btn{
    background-color: #000000;
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    height: 50px;
    color: #ffffff;
}
.banner-form:before{
    content: "";
    position: absolute;
    width: 888px;
    height: 514px;
    background: url("../images/Banner-image.png");
    left: -888px;
    bottom: -50px;
}
.banner-content-wrapper{
    z-index: 50;
    position: relative;
}
.banner-form-wrapper{
    z-index: 20;
    position: relative;
}
.space-top-120{
    padding-top: 120px;
}
.yellow-strip {
    background-color: #FACE0F;
    padding: 25px 0px;
}
.yellow-strip h4{
    font-size: 40px;
    line-height: 40px;
    color: #090a11;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 50px;
}
.car-washing-points ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.car-washing-points ul li{
    list-style: none;
    display: inline-block;
    color: #ffffff;
    position: relative;
    margin: 0px 0px 0px 155px;
}
.car-washing-points ul li:before{
    content: "";
    width: 140px;
    height: 1px;
    background-color: #3C60DB;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.car-washing-points ul li span{
    color: #FACE0F;
}
.car-washing-center{
    background-color: #1c3aa4;
}
.section-title-style h6{
    font-weight: 700;
    color: #FACE0F;
    font-size: 17px;
    margin-bottom: 20px;
}
.section-title-style h6 i {
    display: inline-block;
    line-height: 0px;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
.section-title-style h2{
    font-size: 64px;
    color: #ffffff;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.section-title-style ul{
    margin: 0px 0px 50px;
    padding: 0px;
}
.section-title-style ul li{
    color: #ffffff;
    font-size: 32px;
    line-height: 40px;
    margin-left: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.car-washing-center .section-title-style{
    background-color: #2D4CB8;
    border-radius: 32px;
    padding: 70px 60px;
    margin-right: 20px;
}
.section-title-style .btn-style{
    width: 140px;
}
.btn-group-style{
    display: flex;
}
.arrow-down-btn{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.btn-group-style .arrow-down-btn{
    margin-left: 50px;
}
.arrow-down-btn{
    display: flex;
}
.arrow-down-btn p{
    margin-bottom: 0px;
    margin-left: 30px;
}
a.arrow-down-btn:hover{
    color: #FACE0F;
}
.car-protection{
    background-image: url("../images/carwash3-wrap-bg1.png");
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    border-radius: 32px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.car-protection .shield-icon{
    margin-bottom: 60px;
}
.car-protection h4{
    font-size: 50px;
    color: #1C3AA4;
    font-weight: 700;
}
.car-protection p{
    color: #1C3AA4;
    font-size: 20px;
    font-weight: 700;
}
.carimg{
    margin-bottom: 40px;
}
.our-strength-section{
    background-color: #1c3aa4;
}
.section-title-style p{
    color: #A6B7F5;
    font-size: 16px;
    line-height: 28px;
}
.counting-style{
    display: inline-block;
}
.counting-style h6{
    color: #FACE0F;
    position: relative;
    margin-bottom: 40px;
}
.counting-style h6:before{
    content: "";
    background-color: #FACE0F;
    width: 88px;
    height: 2px;
    position: absolute;
    right: -100px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.detail-icon h5{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
.detail-icon img{
    margin-bottom: 30px;
}
.detail-icon p{
    color: #A6B7F5;
    font-size: 16px;
    line-height: 24px;
}
.detail-point.text-end .counting-style h6:before{
    left: -100px;
    right: 30px;
}
.our-strength-section .section-title-style{
    margin-bottom: 50px;
}
.cargraphic-row{
    position: relative;    
}
.cargraphic{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 450px;
}


/* You can remove this page div in your website */
#page{
    width:100%;
    height:100%;
    position:absolute;
  }
  
  /* Our normalize css 
  *{
    margin:0;
    box-sizing: border-box;
  }*/
  
  /* Our wrapper */
  .wrapper{
    width: 740px;
    height: 600px;
    position: relative;
    left:50%;
    top:50%;
    transform:translate3d(-50%,0%,0);
    overflow:hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Our image information */
  .before,
  .after {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    overflow: hidden;
  }
  
  .content-image{
    height:100%;
  }
  
  .after{
    width:125px;
  }
  
  .scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
  }
  
  .scroller:hover{
    opacity:1;
  }
  
  .scrolling{
    pointer-events:none;
    opacity:1;
     z-index: 1;
  }
  
  .scroller__thumb{
    width:100%;
    height:100%;
    padding:5px;
  }
  
  .scroller:before,
  .scroller:after{
    content:" ";
    display: block;
    width: 7px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition:0.1s;
  }
  .scroller:before{
    top:100%;
  }
  .scroller:after{
    bottom:100%;
  }
  
  /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
  .scroller{
    border: 5px solid #fff;
  }
  .scroller:before,
  .scroller:after{
    background: #fff;
  }
  .before-after-wrapper{
    position: relative;
  }
  .see-what-box{
    background-image: url("../images/carwash3-wrap-bg3.webp");
    background-color: #ffffff;
    border-radius: 32px 0px 0px 32px;
  }
  .our-strength-section .see-what-box{
    padding: 100px 40px !important;
  }
  .our-strength-section .see-what-box .section-title-style h6{
    color: #1C3AA4;
  }
  .our-strength-section .see-what-box .section-title-style h2{
    color: #1C3AA4;
    font-size: 50px;
    line-height: 55px;
  }
  .our-strength-section .see-what-box .section-title-style .btn.btn-style{
    color: #1C3AA4;
  }
  .satisfied-customers-section{
    background-image: url("../images/customer-bg.jpg");
    background-size: cover;
    background-position: top left;
  }
  .satisfied-customers-section h3{
    color: #1C3AA4;
    font-size: 50px;
    font-weight: 600;
  }
  .satisfied-customers-section span{
    position: relative;
    right: -20px;
    top: -8px;
}
.customer-review i{
    display: inline-block;
    flex-shrink: 0;
    margin-right: 30px;
}
.customer-review{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 60px 30px;
    margin-left: 20px;
    display: flex;
}
.customer-review-text p{
    color: #1C3AA4;
    font-size: 16px;
    line-height: 28px
}
.customer-review-text h6{
    text-align: right;
    margin-bottom: 0px;
    color: #1C3AA4;
    font-size: 28px;
    font-weight: 600;
}
.space-top-100{
    margin-top: 100px;
}
.section-title-style span{
    display: inline-block;
}
.five-thousand-title{
    position: relative;
}
.five-thousand-title .section-title-style{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0px;
}
.five-thousand-title .section-title-style i{
    font-style: normal;
    color: #FACE0F;
}
.five-thousand-title  .section-title-style p{
    color: #1C3AA4;
    margin-bottom: 0px;
}
.five-thousand-title .section-title-style .btn.btn-style{
    margin-top: 30px;
    width: auto;
    padding: 12px 40px;
}
.work-point h5{
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}
.work-point p{
    font-size: 22px;
    line-height: 32px;
    color: #000000;
}
.work-point i {
    display: block;
    margin-bottom: 20px;
}
.margin-top-100{
    margin-top: 100px;
}
.footer-bouble-image{
    display: inline-block;
    width: 420px;
    height: 320px;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -50px;
}
.footer-top {
    padding-top: 100px;
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
    margin-top: -30px;
    position: relative;
}
.book-now-footer h4{
    font-size: 24px;
    color: #1C3AA4;
}
.book-now-footer a{
    color: #FACE0F;
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
}
.footer-bouble {
    position: absolute;
    top: -40px;
}
.book-now-footer{
    padding-left: 100px;
}
.footer-top{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 60px;
}
.footer-bottom{
    padding: 60px 0px;
}
.footer-contact p{
    font-size: 16px;
    color: #1C3AA4;
}
.footer-contact a{
    color: #1C3AA4;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.footer-address a{
    text-decoration: none;
    color: #1C3AA4;
}
.footer-address{
    text-align: center;
}
.footer-social ul{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
.footer-social ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}
.footer-social ul li i{
    color: #1C3AA4;
    font-size: 25px;
}
.copyright-text p{
    margin-bottom: 0px;
    color: #1C3AA4;
    font-size: 16px;
}
.copyright-section{
    border-top: 1px solid #dddddd;
    padding: 20px 0px;
}
@media only screen and (min-width: 1920px){
    .container-fluid {
        width: 1720px;
    }
}